workshop/3-node-red-mqtt-chat/solution/node-red-message-flow.json
[
    {
        "id": "858ea174.a123d",
        "type": "tab",
        "label": "Message Flow"
    },
    {
        "id": "f39224cf.6aa798",
        "type": "mqtt in",
        "z": "858ea174.a123d",
        "name": "",
        "topic": "nbd/julianpitt/message",
        "qos": "2",
        "broker": "430a3042.ad921",
        "x": 700,
        "y": 480,
        "wires": [
            [
                "6efd6af0.498524",
                "cc8ff051.062d7"
            ]
        ]
    },
    {
        "id": "dc01ab41.780178",
        "type": "mqtt out",
        "z": "858ea174.a123d",
        "name": "",
        "topic": "nbd/julianpitt/message",
        "qos": "",
        "retain": "",
        "broker": "430a3042.ad921",
        "x": 920,
        "y": 260,
        "wires": []
    },
    {
        "id": "6efd6af0.498524",
        "type": "johnny5",
        "z": "858ea174.a123d",
        "name": "",
        "func": "var lcd = new five.LCD({\n    // LCD pin name  RS  EN  DB4 DB5 DB6 DB7\n    pins: [7, 8, 9, 10, 11, 12],\n});\n\nnode.on(\"input\", function(msg){\n    var payload = JSON.parse(msg.payload);\n    lcd.clear().cursor(0, 0).print(\n\t    payload.name\n    );\n});\n",
        "board": "9409d4eb.bf0c88",
        "noerr": 0,
        "x": 920,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "cc8ff051.062d7",
        "type": "debug",
        "z": "858ea174.a123d",
        "name": "",
        "active": true,
        "console": "true",
        "complete": "payload",
        "x": 940,
        "y": 540,
        "wires": []
    },
    {
        "id": "5d99a895.5adf28",
        "type": "debug",
        "z": "858ea174.a123d",
        "name": "",
        "active": true,
        "console": "true",
        "complete": "payload",
        "x": 900,
        "y": 180,
        "wires": []
    },
    {
        "id": "4b431b45.5e8e24",
        "type": "ui_form",
        "z": "858ea174.a123d",
        "name": "",
        "label": "",
        "group": "29c638c4.a13e18",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Message",
                "value": "msg",
                "type": "text",
                "required": true
            }
        ],
        "formValue": {
            "msg": ""
        },
        "payload": "",
        "topic": "",
        "x": 620,
        "y": 262,
        "wires": [
            [
                "dc01ab41.780178",
                "5d99a895.5adf28"
            ]
        ]
    },
    {
        "id": "430a3042.ad921",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "9409d4eb.bf0c88",
        "type": "nodebot",
        "z": "",
        "name": "uno",
        "username": "",
        "password": "",
        "boardType": "firmata",
        "serialportName": "COM3",
        "connectionType": "local",
        "mqttServer": "",
        "socketServer": "",
        "pubTopic": "",
        "subTopic": "",
        "tcpHost": "",
        "tcpPort": "",
        "sparkId": "",
        "sparkToken": "",
        "beanId": "",
        "impId": "",
        "meshbluServer": "https://meshblu.octoblu.com",
        "uuid": "",
        "token": "",
        "sendUuid": ""
    },
    {
        "id": "29c638c4.a13e18",
        "type": "ui_group",
        "z": "",
        "name": "LCD Message",
        "tab": "e5db00a.e1307",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "e5db00a.e1307",
        "type": "ui_tab",
        "z": "",
        "name": "Message",
        "icon": "dashboard",
        "order": 2
    }
]